{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'MovieApp/main.css' %}">
    <title>OmniMovies</title>
</head>
<body>
    <header>
        <div class="header-container">
            <img src="../../../media/logo-navbar.png" height="30" width="135"/>
            <div class="header-menu">
                {% if user.is_authenticated %}
                    <a class="users-buttons" href="{% url 'movies-home' %}">HOME</a>
                    <a class="users-buttons" href="{% url 'movies-list' %}">MOVIES</a>
                    <a class="users-buttons" href="{% url 'movie-create' %}">ADD MOVIE</a>
                    <a class="users-buttons" href="#">{{user.get_username|upper}}</a>
                    <a class="users-buttons" href="{% url 'movies-logout' %}">LOGOUT</a>
                {% else %}
                    <a class="users-buttons" href="{% url 'movies-home' %}">HOME</a>
                    <a class="users-buttons" href="{% url 'movies-login' %}">LOGIN</a>
                    <a class="users-buttons" href="{% url 'movies-signup' %}">SIGN UP</a>
                {% endif %}
            </div>
        </div>
    </header>
    <div class="main">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}{% endblock content %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>