{% extends "MovieApp/base.html" %}
{% block content %}
    <h1>Recommended Movies</h1>
    {% for movie in movies %}
        <div class="fieldBox">
            <img class="movie-img" src="{{ movie.poster.url }}">
            <p><b>{{ movie.title }}</b></p>
        </div>
    {% endfor %}
{% endblock content %}