{% extends "MovieApp/base.html" %}
{% block content %}
    <h2>Logout completed!</h2>
    <div class="border-top pt-3">
            <small class="text-muted">
                Miss something? <a class="ml-2" href="{% url 'movies-login' %}">Log In Again</a>
            </small>
            <small class="text-muted">
                Want to go home? <a class="ml-2" href="{% url 'movies-home' %}">Go back home</a>
            </small>
    </div>
{% endblock content %}