{% extends "MovieApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="article-title"> {{ movie.title }} </h2>
    <img class="movie-img" src="{{ movie.poster.url }}">
    <p class="article-content">  <strong>Genre: </strong>  {{ movie.genre }} </p>
    <p class="article-content">  <strong> Classification:  </strong>  {{ movie.classification }} </p>
    <p class="article-content">  <strong>  Score:  </strong> {{ movie.score }} </p>
    <a class="btn btn-outline-info" href="{% url 'movie-update' movie.id %}">Update Movie Info</a>
    <a class="btn btn-outline-info" href="{% url 'movie-delete' movie.id %}">Delete Movie</a>
    <a class="btn btn-outline-info" href="{% url 'movies-list' %}">Back</a>
{% endblock content %}