{% extends "MovieApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h2 class="article-title"> Movies: </h2>
    {%if movies %}
        {% for movie in movies %}
            <p class="article-content"><a href="{% url 'movie-detail' movie.id %}"> {{ movie.title }} </a></p>
        {% endfor %}
    {% else %}
    <p class="article-content"> There are no movies yet! </p>
    {%endif%}
    <a class="btn btn-outline-info" href="{% url 'movie-create'%}">Add a Movie</a>
{% endblock content %}