{% extends "MovieApp/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Movie</legend>
                <h2>Are you sure you want to delete the movie: "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete Movie</button>
                <a class="btn btn-outline-secondary" href="{% url 'movie-detail' object.id %}">NO</a>
            </div>
        </form>
    </div>
{% endblock content %}