{% extends "MovieApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST"  enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add new movie</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                {% if 'create' in request.path %}
                    <button class="btn btn-outline-info" type="submit">Add Movie</button>
                {% else %}
                    <button class="btn btn-outline-info" type="submit">Update Movie</button>
                {% endif %}
            </div>
        </form>
        <a class="btn btn-outline-info" href="{% url 'movies-list' %}">Cancel</a>
    </div>
{% endblock content %}