header {
    width: 100%;
    background-color: #271178;
}

.header-container {
    width: 80%;
    margin: auto;
}


header img {
    display: inline-block;
    width:19%;
}

.header-menu {
    display: inline-block;
    width: 80%;
    text-align: right;
}

.movie-img {
    width: 200px;
}

.users-buttons {
    color: #FFFFFF;
    margin: 0px 5px;
    padding: 0px 5px;
    text-decoration: none;
}

.users-buttons:hover {
    text-decoration: underline;
}

.main {
    width: 70%;
    margin: auto;
    padding: 15px;
    text-align: center;
}

.login-form {
    width: 100%;
    text-align: center;
    margin: 5px;
}